

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 100%;
    max-width: 100%;
    overflow-x: hidden;

}
body {
  background: green;
}

@keyframes shakeAnim {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}

#deathSaveBox{
 border-radius: 5px;
 border: 2px solid #8B000088;
background-color: black;
    width: fit-content;
    margin-left: 0;
    padding:10px;
 
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: grey;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
    position: relative;
    margin: 10px;
}

.checkbox-round:checked {
    background-color: #FF0000AA;
      animation-name: shakeAnim;
    content: "X";
}


#mapSearch {
        all: unset;
        font: 16px system-ui;
        color: #fff;
        height: 100%;
        width: 50%;
        padding: 6px 10px;
    background-color: black;
      }

      ::placeholder {
        color: #fff;
        opacity: 0.7; 
      }

     #searchIcon {
        color: #fff;
        fill: currentColor;
        width: 24px;
        height: 24px;

      }

      #mapSearchButton {
        all: unset;
        cursor: pointer;
        width: 44px;
        height: 44px;
      }

.noWrite{
    background: transparent !important;
    border: none;
}

 input.slideTrack[type="number"]
{
    background: transparent !important;
    border: none;
    width: 500px;
    text-align: left;
}


#psiCoreTable input[type="string"]{
    width: fit-content !important;
    background: transparent !important;
    border: none;
    
}

#routineCoreTable input[type="string"] {
    width: fit-content;
    max-width: fit-content;
    background: transparent !important;
    border: none;
}

#armourTable input[type="string"], #meleeTable input[type="string"]{
    max-width: 50px;
}

datalist {
    overflow: scroll;
}

table {
    background-image: url("../img/Table.jpeg");
    background-size: 1000px 670px;
    background-color: black;
    text-align: center;
    width: 100%;
    min-width: fit-content;
    border: 2px solid #8B0000;
    margin: 0px !important;

}

#credits {
    width: 100px !important;
}
.bioTable{
    width: 100%;
    
}
.bioPanel{
    background-image: none;
    background-color: transparent;
    border: none;
}

.bioPanel th, .bioPanel td, .bioPanel tr {
    border: none;    
}

input[type="string"] {
    text-align: center;
    height: 100%;
    width: 100% !important;
}

.ibtnDel{
    border: transparent;
    background-color: transparent;
    padding: 0;
    margin:auto;
  display:block;
}

.ibtnDel:hover{
    background-color: #8B000088;
}

#charsheet{
  margin: 0;
  padding: 0;
  width: 100%;
}

#charPic {

    display: flex;
    width: 300px !important;
    margin-left: auto;
    margin-right: auto;
}

.dropdown {
    width: 24px;
    padding: 0;
}

.fa-info-circle{
    color: white !important;

}
.fa-info-circle:hover{
    color: red !important;
}
input[type="text"]{
    min-width: 250px;
    width: fit-content;
    height: 100%;
}
input[type="number"] {
    width: 35px;
    max-width: fit-content;
    height: 20px;
    text-align: center;
}

th {
    background: #330066;
    text-align: center;
    color: white;
    max-width: 20%;
}
td,
input,
h2,h4,h6,b,
select {
    border: 0;
    width: fit-content;
    color: #e0cd67 !important;
    font-family: Calibri !important;
    font-weight: bold !important;
    text-align: center;
}

h2{
    width: fit-content;
}
.fa-question-circle {
    font-size:24px;
    color: white;
    outline: none !important;
    border: 0px;


}
.fa-question-circle:active,.fa-question-circle:focus{
    outline: none !important;
    border: 0px;
}


h2 { 
    margin-left: auto;
    margin-right: auto;
}

.leftAlign {
margin: 0 !important;
}

input[id*='item'], input[id*='weapon'], input[id*='robot'], input[id*='drone'], input[id*='armour'] {
    width: 40px !important;
}



th,
textarea {
   
    width: fit-content;
    font-family: Calibri !important;
    font-weight: bold !important;
    border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
   
}



div {

    column-gap: 0px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    
   
}

div .row{
    margin-left: 0px;
    margin-right: 0px;
}

textarea[type="string"]{
    margin-left: auto;
    margin-right: auto;

}

div .col-xs-4, div .col-xs-6, .col-xs-12{
     height: fit-content;
    min-width: fit-content;
    width: 30%;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}

.col-xs-12{
  width: 90%;
}

#rulesTab .col-xs-6 {
  text-align: left !important;
  width: 50% !important;
  min-width: 0px;
}


.order-list{
    font-size: 0.8em;
}
.order-list input{
    width: 30px;
}

#saveTable input[type="number"],
#playerLevel,
#atkBonus,
#playerXP {
    max-width: 35px !important;
    height: 35px;
    box-sizing: border-box;
    border: none;
    outline: 0;
    background: linear-gradient(purple, purple) top / calc(100% - 20px) 2px,
        linear-gradient(purple, purple) bottom/calc(100% - 20px) 2px,
        linear-gradient(purple, purple) left / 2px calc(100% - 20px),
        linear-gradient(purple, purple) right / 2px calc(100% - 20px),
        linear-gradient(
                to bottom right,
                transparent calc(50% - 2px),
                purple,
                transparent calc(50% + 2px)
            )
            top left/10px 10px,
        linear-gradient(
                to bottom right,
                transparent calc(50% - 2px),
                purple,
                transparent calc(50% + 2px)
            )
            bottom right/10px 10px,
        linear-gradient(
                to bottom left,
                transparent calc(50% - 2px),
                purple,
                transparent calc(50% + 2px)
            )
            top right/10px 10px,
        linear-gradient(
                to bottom left,
                transparent calc(50% - 2px),
                purple,
                transparent calc(50% + 2px)
            )
            bottom left/10px 10px;

    background-repeat: no-repeat;
}

input {
    background-color: black;
    border: 2px solid #609;
}

select, input[type="text"] {
    border-radius: 15px 50px;
    border: 2px solid #609;
    text-align: center;
    
    text-align-last: center;
    height: fit-content;
    font-weight: normal !important;
        background-color:black;
}
input:focus,
select:focus,
input[type="text"]:focus,
textarea:focus,
button:focus {
    outline: none;
}



body {
    background-image: url("../img/Page_Background.jpeg");
      font-family: 'Noto Sans', 'Helvetica';
background-size: 2880px 1602px;
}

/*https://image.freepik.com/free-vector/circuit-board-vector-seamless-texture-sci-fi-electronic-background_53562-4044.jpg*/

optgroup {
    color: #00FFFF;
    font-weight: lighter !important;
    background-color: #8b0000;
}

.helpPanel a{
    
    font-size: 16px;
}

.helpPanel {
    display: inline-block;
    text-align: left !important;
    margin-left: 20px;
    margin-right: 20px;
    transition: margin-left 0.5s;
}
#expertAbility, #warriorAbility{
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    border: 5px solid #8B0000;
    background-color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50% , -50%);
}

.helpPanel h2,.helpPanel h4, .helpPanel h6, .underline {
    margin: 0px;
    text-decoration: underline;
}
.helpPanel p, #rulesTab p {
    color: #00FFFF !important;
    animation: none;
}

.helpPanel b, #rulesTab b{
    color: white !important;
}
.collapsible {
    background-color: transparent;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    height: 200px;
    border: none;
    text-align: left;
    outline: none;
    margin: auto;
}
.infoPanel {
    width: 33%;
    text-align:center !important;
  margin-left: auto;
  margin-right: auto;
}
option:hover {
    color: black;
}
textarea {
    border: 0 none white;
    overflow: hidden;
    padding: 0;
    outline: none;
    background-color: black;

    background-repeat: no-repeat;
    color: #e0cd67;
      resize:none;
  width:100% !important;
    
    display: block;
}

textarea:selection {
    color: transparent !important;
    width: fit-content;
}

option {
    color: white;
    font-weight: bold !important;
    background-color: #4b0082;
}
.active,
.collapsible:hover {
    background-color: #555;
}

table th,
table td {
    border: 1px solid #3A3B3C;
    text-align: center;
    margin: auto;
}

.skillsTable td{
  max-width: 120px;
}

.leftAlign{
  text-align: left;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.remove-add-more,
.btn {
    border-radius: 100%;
    text-align: center;
    padding: 1px;
    background-color: transparent;
    align-items: bottom;
}
td,
th {
    white-space: nowrap;
}
.sg-input-menu {
    background-color: black;
}

.button:hover,select:hover, input[type="text"]:hover,input[type="checkbox"]:hover{
    border-color: red;
}

.interact:hover, .helpLink:hover{
    color: red !important;
    cursor: pointer;
}
#playerHP:hover{
    color: red !important;
    cursor: pointer;
    background-color: purple !important;
}

tbody[id$="Child"] td {
  border: none !important;
}

/*Custom Alert Box*/
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

.dropdown{
    min-width: 28px;
}



.customAlert{
	color: #00FFFF;
  display: none;
  top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
  max-width: 50%;
  min-width: 250px !important;
  min-height: 20%;
  height: fit-content;
    max-height: 90vh;
 overflow-x: hidden;
  padding: 10px;
  box-sizing: border-box;


  background: black;
    border: 5px solid #8B0000;
    font-size: 15px;
    text-align: center;
    z-index: 900;

}
 
      .messageHeader{
      font-size: 30px !important;
          color: red !important;
          text-align: center;
          margin-left: auto;
          margin-right: auto;
    }
    input[type='button']{
      height: 15% !important;
        width: fit-content !important;
    }
  
  
  .message{
    padding: 5px;
    line-height: 20px;
    text-align: center;
      color: #00FFFF;
      white-space: pre-wrap;                 /* CSS3 browsers  */

	word-wrap: break-word;                 /* IE 5.5+ and up */
	/* overflow-x: auto; */                /* Firefox 2 only */
	/* width: 99%; */
      font-size: 15px;
      overflow-x: hidden;
  }
      
@keyframes fadeOut{
	from{
  	opacity: 1;
  } 
  to{
    opacity: 0;
  }
}
    
@keyframes fadeIn{
	from{
  	opacity: 0;
  } 
  to{
    opacity: 1;
  }
}

hr.pageborder {
  border-top: 5px solid red;
    margin-top: 5px;
    margin-bottom: 5px;
     page-break-before: always;
    overflow: hidden;
  position: relative;
    display: block;
}


.pageTitle{
    font-size: min(max(10px, 2vw), 40px);
    margin-left: 0;
    margin-right: auto;
    
}

.bounding-box {
    background-color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px !important;
  width: 300px;
    border: 2px solid red;
    display: flex;

    margin-left: auto;
    margin-right: auto;

}

.box{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    margin: 0 auto;
    padding: 0px;
    background: blue;
}

div.tab, div.saveUI{
    position: sticky;

    top: 0;
    z-index: 500;
}

.indent{
    margin-left: 40px;
}

/* Style the tab */
.tab {
    
    display: none;
  overflow: hidden;
    outline: 0;
  margin-right: 0px;
  border: 1px  solid #8B0000;
  background-color: black;
    -moz-outline: 0;
    -ms-outline:0;
    -o-outline: 0;
    -webkit-outline: 0;
    outline-color: solid black;
    border-color: solid black;
height: 120px;
  box-shadow: none;
    width: 100%;
    margin-left: 0px;
    transition: margin-left 0.5s;

}

#closeAlert{
    float: left;    
}

.tabButtons{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    align-content: left;
    white-space: nowrap;
    width: 100%;
    font-size: 0.8em;
}

/* Style the buttons that are used to open the tab content */
.tab button, .menuButton {
  background-color: inherit;
  display: inline-block;
  width:14.3%;
justify-content:center;
align-items:center;

  color: #e0cd67;  
  cursor: pointer;
    -moz-outline: 0;
    -ms-outline:0;
    -o-outline: 0;
    -webkit-outline: 0;
    border: none;
    outline: none !important;
  box-shadow: none;
    height: 100%;
    z-index: 900;
    overflow: hidden;
} 

.menuButton{
  padding: 5px;
}
/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #8B0000;
  transition: 0.3s;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #8B0000;
    outline: none !important;
    
}

.background {
  margin-left: 0px;
  transition: margin-left 0.5s;
  background: red;
  width: 100%;
}

button, button:hover, button:focus,
button:active {
    -moz-outline: 0 !important;
    -ms-outline:0 !important;
    -o-outline: 0 !important;
    -webkit-outline: 0 !important;
    outline-color: solid black !important;
    border-color: solid black !important;
    outline: none !important;
  box-shadow: none !important;
} 

.tabcontent {
      display: none;
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.saveUI {
    position: absolute;
    right: 0;
  height: fit-content;
  float: right !important;
    margin-right: 10px;
 margin-top: 0;   
 width: 250px;
}



.tabUI{
    overflow-x: scroll;
}

textarea::-webkit-scrollbar {
    display: none;
}





/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black; 
    border-radius: 5px;
    box-shadow: inset 0 0 5px grey;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #8B000088; 
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8B0000FF; 
}

input[id$="Score"] {
    width: 25px !important;
}

.noteBox {
    min-height: 1em;
    width: 100%;
}

#loading {

  margin-left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0.7;
  background-color: black;
  z-index: 99;
    overflow-y: scroll;
}

#loading-image {


  top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    position: absolute;
  z-index: -1;
    width: 80%;
    
}

.bootLang{
    color: white !important;
    text-align: left !important;
    font-size: 0.8em;
}

.bootTitle{
    color: white !important;
}
.bootUp{
    position: absolute;
    z-index: 100;
    top: 8px;
  left: 16px;

}

.slidecontainer h4{
    text-decoration: none;
}

.slidecontainer {
  width: 100%;
  display: inline-block;
    text-align: left !important;
}

.slidebox{
    width: 100%;
}

 input.hpSlide[type='range']::-webkit-slider-thumb{
        box-shadow: -2005px 0 0 2000px green;
    }
    
   input.strainSlide[type='range']::-webkit-slider-thumb{
        box-shadow: -2005px 0 0 2000px purple;
    }
input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

input[type="range"]::-webkit-slider-thumb { appearance: none; width: 12px; height: 12px; background: black; border-radius: 6px;}
input[type="range"]::-webkit-slider-runnable-track { background: red; }
input[type="range"]::-moz-range-track { background: red; border-radius: 10px;}
input[type="range"]::-moz-range-thumb { width: 16px; height: 16px; background: black; border-radius: 5px; }
input[type='range'].strainSlide::-webkit-slider-runnable-track{
    background-color: green;
}

/*Yellowfade animation*/

@keyframes yellowfade {
    from {
      background: yellow;
    }
    to {
      background: transparent;
    }
  }
  
  .item-highlight {
    animation: yellowfade 1.5s !important;
  }
  
  a.anchor{
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
  }

  /*SidePanel Style*/
  .sidepanel  {
    width: 0;
    position: absolute;
    z-index: 1;
    height: calc(100% - 120px);
    top: 120px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-left: 200px;
  }

   /*SidePanel Style*/
   .sideMenuPanel  {
    width: 0;
    position: absolute;
    z-index: 1;
    height: 100%;
    left: 0;
    top: 0px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    
  }
  
  .sidepanel a{

    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left: 5px;
  }
  
  .sideMenuPanel a{

    text-decoration: none;
    font-size: 32px;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin-left: 5px;
  }

  .sidepanel a:hover, .sideMenuPanel a:hover {
    color: #f1f1f1;
  }


  
.closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 72px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    border: none;
    position: sticky;
    margin-left: 0 !important;
    top: 120px;
    left: -10px;
    border-radius: 5px;
    width: fit-content;
    font-size: 20px;
  }
  
  .openbtn:hover {
    background-color:#444;
  }

  .fa-info-circle{
      color: white;
  }

  .overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
    transition: 0.3s;
  }

  .button {
    display: inline-block;
    background-color: black;
    color: white;
    border: 2px solid #609;
    line-height: 5px;
    padding: 5px 5px 5px 5px;
    width: 20px !important;
    height: 20px;
    text-align: center !important;
    cursor: pointer;
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
  
  }

  @media only screen and (min-width: 901px){
    .sideMenuPanel{
      width: 200px !important;
      display:block;
    }
    .tab {
      margin-left: 200px !important;
      width: calc(100% - 200px) !important;
      top:0;
      position: sticky;
    }
    .background{
      margin-left: 200px !important;
      width: calc(100% - 200px) !important;
    }

    .menuButton{
      display:none !important;
    }

    a[name="menuCloseBtn"]{
     display: none !important;
    }

    #loading{
      margin-left: 200px !important;
    }

    #loading-image{
      margin-left: -200px;
    }
    .customAlert, #loading-image {
      top: 50%;
      left: calc(50% + 100px);
      transform: translate(-50%,-50%);
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      position: absolute;
      width: 5000px !important;
      height: 5000px !important;
      top: 100%;
      left: 0;
    }

    .background, .box, body {
      width: 5000px !important;
    }

    #charsheet{
      width: 5000px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px){
    html{
      font-size: 90%;
    }
  }